{% extends 'layout.twig' %}

{% set INTERVAL = 99999999 %}

{% block stylesheets %}
  {{ parent() }}
  <style>
    /* horizontally and vertically center align divs */
    .center-translate {
        position: relative;
        float: left;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    #carouselExampleControls {
      height: 90vh;
    }
    .carousel-control-prev, .carousel-control-next {
      height: 60px;
      margin-top: auto;
    }
    .carousel-inner {
      height: 100%;
    }
    .carousel-item {
      height: 100%;
      background-color: #AAA;
    }
    button.disabled {
      cursor: not-allowed;
    }
  </style>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.min.js"></script>
  <script>
    var $carousel = $('.carousel');
    var hash = $(location).attr('hash');
    if (hash == "#service") {$carousel.carousel(4);}
    $carousel.carousel("pause");

    const RPC_PROVIDER = "https://ropsten.infura.io/v3/4dea9169133246318e58fe7ac1bdbdef";
    const web3 = new Web3(new Web3.providers.HttpProvider(RPC_PROVIDER));

    var $newWallet = $('#new-wallet-btn');
    var $customWallet = $('#sync-wallet-btn');
    var $walletSection = $("#wallet-section");
    var $walletAddress = $("#wallet-address");
    var $walletBalance = $("#wallet-balance");
    var $walletRefresh = $("#wallet-refresh");
    var myPk;

    function turnOnCustom() {
      $customWallet.removeClass('btn-warning').addClass('btn-success');
      $newWallet.removeClass('btn-success').addClass('btn-warning');
    }

    function turnOnNew() {
      $newWallet.removeClass('btn-warning').addClass('btn-success');
      $customWallet.removeClass('btn-success').addClass('btn-warning');
    }

    function showWallet(addr,callback){
      $walletSection.addClass("bg-warning");
      $walletAddress.text(addr);
      $walletBalance.text("");
      $walletBalance.html('<i class="fa fa-spinner"></i>')
      web3.eth.getBalance(addr).then(function(balance){
        $walletBalance.text(balance);
        $walletSection.removeClass("bg-warning");
        if(callback !== undefined){callback()}
      })
    }

    function pk2Wallet(pk,callback){
      let acc = web3.eth.accounts.privateKeyToAccount(pk);
      if (acc){myPk = acc.privateKey;}
      showWallet(acc.address,callback);
    }

    $walletRefresh.on("click",function(){
      pk2Wallet(myPk);
    });

    $newWallet.on("click",function(){
      let acc = web3.eth.accounts.create();
      pk2Wallet(
        acc.privateKey,
        function() {turnOnNew();}
      )
    })
  </script>
{% endblock %}

{% block content %}
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner center-translate">
      <div class="carousel-item active" data-interval="{{INTERVAL}}">
        <div class="center-translate text-center">
          <h1>Let's imagine we're an organization fighting poverty</h1>
          <h1>Let's imagine we want to do our job using a Smart Contract (SC)</h1>
        </div>
      </div>
      <div class="carousel-item" data-interval="{{INTERVAL}}">
        <div class="center-translate text-center">
          <h1>Let's imagine SC has a method to pay back the user who raised it.</h1>
          <h1>We'll call this method: "payBack"</h1>
        </div>  
      </div>
      <div class="carousel-item" data-interval="{{INTERVAL}}">
        <div class="center-translate pl-5">
          <h3>Add some requirements to our crazy logic:
            <ul>
              <li>The maximum amount that can be payed back will be
                <ul>
                  <li>5 <i>ETH</i> for people from country A.</li>
                  <li>2.5 <i>ETH</i> for people from country B.</li>
                  <li>0.5 <i>ETH</i> for everyone else.</li>
                </ul>
              <li>If a user will be payed less than 2 <i>ETH</i> we don't want him to be charged of the gas cost</li>
              {# <li>Also we don't want people from country X to be charged of the gas cost because in country X they can't make use of an exchange</li> #}
            </ul>
          </h3>
        </div>  
      </div>
      <div class="carousel-item" data-interval="{{INTERVAL}}">
        <div class="center-translate text-center">
          <h1>
            To grant people to be payed even if they own 0 <i>ETH</i> we built a shocking service!
            <i class="fa fa-child"></i>
          </h1>
        </div>  
      </div>
      <div class="carousel-item" data-interval="{{INTERVAL}}">
        <div class="center-translate w-75">
          This example makes use of the ropsten test network.
          <form class="">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Your Country</label>
              <select class="form-control form-control-lg" id="country">
                <option>A</option>
                <option>B</option>
                <option>C</option>
                <option>D</option>
                <option>Other</option>
              </select>
            </div>
            <div class="form-group">
              <label for="address">How many ETH do you need?</label>
              <input type="number" class="form-control form-control-lg" id="ether" placeholder="">
            </div>
            <button class="btn btn-primary disabled" type="submit" method="POST" disabled>Get Payed!</button>
          </form>
          <hr/>
          <div class="w-100 d-flex">
            <button class="btn btn-warning mr-auto" id="new-wallet-btn">
              Create a fresh new wallet
            </button>
            <div class="btn-group ml-auto">
              <button id="sync-wallet-btn" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Use a custom Private Key
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item bg-success" href="#" data-pk="0x0689b0f63ff393cdc1085e3acef85a3d8334b98a2c32ac294f623245a2814674" onclick="pk2Wallet($(this).attr('data-pk'),function(){turnOnCustom();});">Whitelisted [1]</a>
                <a class="dropdown-item bg-success" href="#" data-pk="0x64cc5e6db47fd9b3de42856546f8f1b682660e67f5b1fe91c8a4fb797eb9a79f" onclick="pk2Wallet($(this).attr('data-pk'),function(){turnOnCustom();});">Whitelisted [2]</a>
                <a class="dropdown-item bg-success" href="#" data-pk="0x6c9bf9127fc4f978e0d4350d7f5db93a9458f807e97b195d5ab9e092d391d978" onclick="pk2Wallet($(this).attr('data-pk'),function(){turnOnCustom();});">Whitelisted [3]</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item bg-danger" href="#" data-pk="0xffd65b9d6efcac604b5473d39c13c1b2c5f55f5c86a2fb61e3ccd713274b11bb" onclick="pk2Wallet($(this).attr('data-pk'),function(){turnOnCustom();});">Not Whitelisted [1]</a>
                <a class="dropdown-item bg-danger" href="#" data-pk="0xfcdf054274554ecf4adbfa97ea64dc4236a4fb62f015d41016dbe2f9c1c7db1f" onclick="pk2Wallet($(this).attr('data-pk'),function(){turnOnCustom();});">Not Whitelisted [2]</a>
                <a class="dropdown-item bg-danger" href="#" data-pk="0x59c8119ea2748468a60c2893d4ea08c4c941ef60a13101ae5b537367701dec64" onclick="pk2Wallet($(this).attr('data-pk'),function(){turnOnCustom();});">Not Whitelisted [3]</a>
              </div>
            </div>
          </div>
          <div class="mt-4 bg-warning" id="wallet-section">
            <div class="w-50">
              <h5>Your address is: <b><span id="wallet-address">ND</span></b></h5>
              <h5>Your balance is: <b><span id="wallet-balance">ND</span></b></h5>
            </div>
            <button class="btn btn-secondary" id="wallet-refresh">Refresh Balance</button>
          </div>
        </div>  
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
{% endblock %}
